@font-face {
    font-family: 'Chaparral Pro';
    src: url('/other/ChaparralPro-Regular.ttf');
}

* {
    -fx-font-family: 'Chaparral Pro';
    -fx-text-fill: -fx-my-white-color;

    -fx-my-menu-color: grey;                    /* variable */
    -fx-my-menu-color-highlighted: lightgrey;   /* variable */
    -fx-my-menu-font-color: black;              /* variable */
    -fx-my-menu-font-color-highlighted: black;  /* variable */
    -fx-my-white-color: ivory;                  /* variable */
    -fx-my-highlight-color: grey;               /* variable */
    -fx-my-lowlight-color: #575757;             /* variable */
    -fx-my-red-color: #983C32;                  /* variable */
    -fx-my-blue-color: #36589B;                 /* variable */
    -fx-my-background-color: #2D2D2D;           /* variable */
}

.root {
    -fx-padding: 15px;
    -fx-border-width: 2px;
    -fx-border-insets: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: -fx-my-background-color;
    -fx-text-fill: -fx-my-white-color;
}

/* CONTROL SUBCLASSES (only Control subclasses have default CSS classes)*/

/* MENU BAR */
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

/* TEXT FIELD */
.text-field {
    -fx-border-width: 0 0 2 0; /*top, right, bottom, left*/
    -fx-background-color: transparent;
    -fx-pref-width: 250;
    -fx-font-size: 30;
    -fx-alignment: center;
}

#textfield-player1 {
    -fx-border-color: -fx-my-red-color;
    -fx-text-fill: -fx-my-red-color;
}

#textfield-player2 {
    -fx-border-color: -fx-my-blue-color;
    -fx-text-fill: -fx-my-blue-color;
}

/* BUTTON */
.button {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-border-color: -fx-my-white-color;
    -fx-text-fill: -fx-my-white-color;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-pref-width: 170;
}

.button:hover {
    -fx-background-color: -fx-my-highlight-color;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-translate-y: 5;
}

/* SCROLL PANE */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: -fx-my-background-color;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-my-lowlight-color;
    -fx-background-radius: 5;
}

/* SPECIAL CLASSES */

.red-text {
    -fx-text-fill: -fx-my-red-color;
}

.blue-text {
    -fx-text-fill: -fx-my-blue-color;
}

.title {
    -fx-font-size: 30;
}

.stats-label {
    -fx-font-size: 15;
}

.ship-label {
    -fx-font-size: 15;
}

.info-label {
    -fx-font-size: 15;
}

.ship-label:hover, .ship-label-selected {
    -fx-background-color: -fx-my-highlight-color;
    -fx-cursor: hand;
}

.ship-label-empty, .ship-label-empty:hover {
    -fx-text-fill: -fx-my-highlight-color;
    -fx-background-color: -fx-my-background-color;
    -fx-cursor: pointer;
    -fx-font-size: 15;
}

.grid-pane > * {
    -fx-border-color: -fx-my-white-color;
    -fx-border-width: 1 1 1 1 ;
}

.grid-pane-selected {
    -fx-background-color: -fx-my-highlight-color;
    -fx-cursor: hand;
}

.grid-pane-hit {
    -fx-background-color: -fx-my-background-color;
    -fx-cursor: pointer;
}

.grid-pane-miss {
    -fx-background-color: -fx-my-lowlight-color;
    -fx-cursor: pointer;
}

.grid-edge-corner {
    -fx-border-width: 0 0 0 0;
}

.grid-edge-left {
    -fx-border-width: 0 1 0 0;
}

.grid-edge-top {
    -fx-border-width: 0 0 1 0;
}

.grid-legend {
    -fx-font-size: 30;
    -fx-border-width: 0;
    -fx-pref-width: 50;
    -fx-alignment: center;
}

.button-disabled {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-border-color: -fx-my-highlight-color;
    -fx-text-fill: -fx-my-highlight-color;
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

.button-disabled:hover {
    -fx-cursor: pointer;
    -fx-background-color: -fx-my-background-color;
}

.button-disabled:pressed {
    -fx-translate-y: 0;
}

/* ALERT WINDOW */
.alert-window, .alert-window .header-panel {
    -fx-background-color: -fx-my-background-color;
}

.alert-window > *.button-bar > *.container {
    -fx-background-color: -fx-my-background-color;
    -fx-pref-height: 80;
}

.alert-window > .content.label, .alert-window .header-panel *.label {
    -fx-background-color: -fx-my-background-color;
    -fx-font-size: 15;
}

.alert-window .button {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-border-color: -fx-my-white-color;
    -fx-text-fill: -fx-my-white-color;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-pref-width: 60;

}

.alert-window .button:hover {
    -fx-background-color: -fx-my-highlight-color;
    -fx-cursor: hand;
}

.alert-window .button:pressed {
    -fx-translate-y: 5;
}